---
import SiteLayout from "@layouts/SiteLayout.astro";
import { type Post, getPosts } from "@utils/data";

export interface Props extends Post {}

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map(post => ({
    params: {
      slug: post.slug,
    },
    props: {
      ...post,
    },
  }));
}

const { title, bodyHTML, publishOnDate } = Astro.props;
---

<SiteLayout>
  <header>
    <h1>{title}</h1>
    <datetime>{publishOnDate}</datetime>
  </header>
  <section set:html={bodyHTML} />
</SiteLayout>
